{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}
        
    {% endblock title %}</title>
  <meta content="{% block meta_description %}
    
  {% endblock meta_description %}" name="description">


  <!-- Favicons -->
  <link href="" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %} " rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel ="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %} " rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'index' %}">{{company_details.name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'img/logo.png' %} " alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">Domicile</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#about">Environ</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="http://127.0.0.1:8000/#portfolio">Portefeuille</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#team">Équipe</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/#contact">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block body %}
  {% endblock body %}

  <!-- ======= Footer ======= -->
  <footer id="footer">


    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{company_details.name}}</h3>
            <p>
            {{company_details.address|title}}
            <br>
              <strong>Phone:</strong>{{company_details.phone_number}}<br>
              
              <strong>Email:</strong>{{company_details.email}}<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Domicile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://127.0.0.1:8000/#about">Environ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://127.0.0.1:8000/#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="http://127.0.0.1:8000/#portfolio">Portefeuille</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="http://127.0.0.1:8000/#team">Équipe</a></li> 

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos services</h4>
            <ul>

              <li><i class="bx bx-chevron-right"></i> <a href="#services">Imperméabilisation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Ignifugation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos réseaux sociaux</h4>

            <div class="social-links mt-3">
              <a href="{{company_details.twitter_link}}" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="{{company_details.facebook_link}}" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="{{company_details.instagram_link}}" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="{{company_details.linkedin_link}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>{{company_details.name}}</span></strong>. Tous droits réservés
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Conçu par <a href="#">Name</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% block js %}{% endblock js %}

</body>

</html>